@model List<ProductModel>
@{ var token = ViewBag.token;}
<div class="products mb-3">
    <div class="row justify-content-center">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="@Model[i].url">
                            <img src="~/assets/images/demos-img/lazy.png" data-oi="@Model[i].images[0].smallImageUrl" alt="@Model[i].title" class="product-image molla-lz">
                        </a>

                        <div class="product-action-vertical">
                            <a style="cursor:pointer;" class="btn-product-icon btn-wishlist btn-expandable" onclick="tryOn('@Model[i].productId', 'tryOnImage', 'tryOnModal', '@token', '@Model[i].url')"><span>Vestir em mim</span></a>
                        </div><!-- End .product-action-vertical -->

                        <div class="product-action">
                            <a href="@Model[i].url" class="btn-product btn-cart"><span>Ver na loja</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="@Model[i].url">@Model[i].brand</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="@Model[i].url">@Model[i].title</a></h3><!-- End .product-title -->
                        <div class="product-price" style="align-items: center;">
                            R$@Html.Raw(Model[i].listPrice + "0")
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
        }
    </div><!-- End .row -->
</div><!-- End .products -->

<div class="modal fade" id="tryOnModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding:37px; text-align:center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <h5>Esta roupa é <span style="color:#c66;">Parfait</span> pra você!</h5>
                <img id="tryOnImage" src="" style="margin-left:auto; margin-right:auto; border-radius:6px;  margin-top:30px" />
                <a href="#" class="btn btn-outline-primary-2" id="link-loja" style="margin-left:auto; margin-right:auto; margin-top:30px; width:192px;" target="_blank">
                    <span>SITE DA LOJA</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>         
</div>
